html {
  body {
    .my-container {
      display: flex;
      justify-content: center;

      .item {
        flex: 1;
        align-content: center;

        .login-box {
          padding: 10px;
        }
      }
    }
  }
}